$lightBlack: #222433;
$black: #000000;
$eerieBlack: #1e1a20;
$charcoal: #333333;
$white: #ffffff;
$gray: #f7f3f4;
$silver: #c4c4c4;
$begonia: #f2726c;
$peach: #ffbd9e;
$slateBlue: #7675fd;
$orange: #faa881;
$red: #dd0000;

$fastDuration: 0.2s;
$slowDuration: 0.7s;
