@import "scss/variables.scss";

.team {
    margin: 192px 0;

    h2 {
        font-size: 40px;
        font-weight: bold;
        line-height: 56px;
        text-align: center;
    }

    p {
        font-size: 18px;
        line-height: 32px;
        text-align: center;
        margin-bottom: 50px;
    }

    &Inner {
        display: flex;
        justify-content: space-between;
    }

    &Item {
        &:first-child {
            width: 323px;
            height: 274px;

            img {
                border-radius: 27% 31% 48% 48% / 32% 31% 55% 49%;
                background: $silver;
            }
        }
        &:nth-child(2n) {
            padding-top: 74px;
            width: 334px;
            height: 263px;

            img {
                border-radius: 27% 19% 48% 48% / 32% 48% 39% 36%;
                background: $silver;
            }
        }

        &:last-child {
            width: 334px;
            height: 263px;

            img {
                border-radius: 39% 33% 48% 48% / 32% 48% 26% 32%;
                background: $silver;
            }
        }
    }
}

@media (max-width: 1024px) {
    .team {
        margin: 300px 0 140px;

        &Inner {
            flex-wrap: wrap;
            justify-content: center;
        }

        &Item {
            &:nth-child(2n) {
                margin: 150px 0;
            }
        }
    }
}

@media (max-width: 768px) {
    .team {
        margin: 150px 0 140px;

        &Inner {
            justify-content: space-between;
        }

        &Item {
            &:first-child {
                width: 250px;
                height: 200px;
            }
            &:nth-child(2n) {
                width: 258px;
                height: 203px;
            }

            &:last-child {
                width: 221px;
                height: 223px;
            }
        }
    }
}

@media (max-width: 570px) {
    .team {
        margin: 200px 0 140px;

        &Item {
            &:first-child {
                width: 200px;
                height: 170px;
            }
            &:nth-child(2n) {
                width: 239px;
                height: 172px;
            }

            &:last-child {
                width: 171px;
                height: 193px;
            }
        }
    }
}

@media (max-width: 570px) {
    .team {
        &Inner {
            margin-left: 50px;
        }

        &Item {
            &:nth-child(2n) {
                width: 239px;
                height: 172px;
                margin: 40px 0 0 70px;
                padding-top: 0;
            }

            &:last-child {
                margin-top: 50px;
            }
        }
    }
}
